{% extends 'base.html.twig' %}

{% block title %}Vidéos{% endblock %}

{% block body %}
{% include('inc/slides.html.twig') %}<br/>
 <div class="container mt-5 mb-5" style="max-width: 800px;">
        <div class="row">
            <div class="card p-3">
                <div class="col">
                
                    {{ form(form, { attr: {'id': 'form_video' } }) }}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="videos_list">
             {% for video in videos %}
                <div class="col-4 mb-6">
    <div class="card">
            <h5 class="card-title">{{ video.title }}</h5>
            <video controls {% if video.thumbnail is not null %}poster="{{ asset('upload/thumbnails/' ~ video.thumbnail) }}" {% endif %}  height="420" width="420">
                <source src="{{ asset('upload/videos/' ~ video.video) }}">
            </video>
            <p class="card-text"><small class="text-muted">{{ video.visibility.label }}</small></p>
    </div>
</div>
            {% endfor %}
        </div>
    </div><br/>
{% endblock %}
