 <nav class="navbar navbar-expand-lg navStyle">
            <a class="brand-navbar" ></a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mainMenu">
                <span><i class="fas fa-align-right iconStyle"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav ml-auto navList">
                    <li class="nav-item active"><a href="{{path('app_home')}}" class="nav-link"><i class="fas fa-home"></i>ACCUEIL<span class="sr-only">(current)</span></a></li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fas fa-cogs"></i>Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fas fa-briefcase"></i>Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fas fa-phone"></i>Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fas fa-users"></i>Qui sommes nous </a>
                    </li>
                    {% for menu in menus %}
                     {% if menu.subMenus.count > 0 %}
                     <div class="dropdown">
                       <a class=" nav-link dropdown-toggle text-white" href="#" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
                        {{menu.name}}
                      </a>
                         <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAdminDashboard">
                           {% for subMenu in menu.subMenus %}
                           <li><a class="dropdown-item" href="{{subMenu|menuLink}}"> {{subMenu.name}}</a></li>
                            {% endfor %}
                        </ul>
                      </div>
                         {% else %}
                         <li class="nav-item">
                            <a href="{{menu|menuLink}}" class="nav-link">{{menu.name}}</a>
                         </li>
                     {% endif %}
                   {% endfor %}
                   {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                   
                    <li class="nav-item">
                        <a href="{{ path('login') }}" class="nav-link">se connecter</a>
                    </li>
                    {% if '1' == options['users_can_register'] %}
                    <li class="nav-item">
                        <a href="{{ path('app_register') }}" class="nav-link">s'inscrire</a>
                    </li>
                     {% endif %}
                     {% else %}
                      <li class="nav-item">
                        <a href="{{ path('logout') }}" class="nav-link">Déconnexion</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_video') }}" class="nav-link">Vidéos</a>
                    </li>
                    <li class="nav-item">
                        <a href=" {{ path('user', { 'username': app.user.username }) }}" class="nav-link">Mon profile</a>
                    </li>
                     {% endif %}
                    
                    
                </ul>
            </div>
        </nav>
       