{% if is_granted('ROLE_AUTHOR') %}
            <nav class="py-2 bg-white border-bottom" >
          <div class="container d-flex flex-wrap">
            <div class="dropdown">
               <a class="nav nav-link dropdown-toggle text-info " role="button"  data-bs-toggle="dropdown" aria-expanded="false">
                 {{ options['blog_title'] }} 
               </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAdminDashboard">
              <li><a class="dropdown-item" href="{{ ea_url() }}">Tableau de bord</a></li>
              {% if is_granted('ROLE_ADMIN') %}
              <li><a class="dropdown-item" href="{{ ea_admin_url('MenuCrudController') }}">Menu</a></li>
                     {% endif %}
           </ul>
          </div>
          <div class="dropdown">
               <a class="nav nav-link dropdown-toggle text-info" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
                  Ajouter 
               </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAdminAdd">
              <li><a class="dropdown-item" href="{{ ea_admin_url('ArticleCrudController', 'new') }}">Article</a></li>
              <li><a class="dropdown-item" href="{{ ea_admin_url('PageCrudController', 'new') }}">Page</a></li>
           </ul>
          </div>
          </div>
       </nav><br/>
       {% endif %}